/*UNIVERSAL STYLES*/
html, body {
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}




/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1.5rem;
}

header {
  font-size: 2rem;
  /*font-family: INSERT HERE;*/
}

.title {
  height: 2rem;
}

.title .part1 {
  /*text color dark gray*/
}

.title .part2 {
  /*text color light gray*/
}

nav ul li {
  display: inline;
  padding-left: 1rem;
}

/*while in desktop mode, the
mobile header is invisible*/
.mobile {
  display: none;
}


/*BANNER*/

.banner {
  display: flex;
  align-items: center;
}

.banner img {
  width: 60%;
  padding: 2rem 1.5rem;
}

.banner .content {
  width: 40%;
  margin-left: -0.75rem;
  align-items: flex-start;
}

.banner .content .button {
  background-color: darkgray;
  padding: 0.5rem 0;
  /*width: 100%;*/
}


/*ARTICLES & EVENTS*/

/*Articles*/

.articles-events {
  display: flex;
  width: 100%;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.keep-practicing {
  padding: 2rem 1.5rem;
}

.keep-practicing img {
  margin-bottom: 2rem;
  width: 100%;
}

.keep-practicing h2 {
  margin-bottom: 1.5rem;
}


/*Events*/

/*events that are also
mobile are invisible*/
.event.mobile {
  display: none;
}

.all-events {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
  width: 40%;
}

.event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event {
  padding: 1rem;
  display: flex;
  align-items: center;
}


.event img {
  width: 35%;
}



.event .content {
  width: 65%;
  padding-left: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
